body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #0a0a0a, #3a4452);
  margin: 0;
  font-family: Arial, sans-serif;
}

.calculator {
  padding: 15px;
  box-shadow: 0 0 15px #000;
  border: 2px solid rgb(166, 114, 114);
  border-radius: 15px;
}
.calculator-title {
  align-items: center;
  color: white;
  margin-bottom: 20px;
  font-size: 28px;
}


.display input {
  width: 360px;
  border: none;
  outline: none;
  padding: 20px;
  margin: 10px;
  background: transparent;
  color: #fff;
  font-size: 40px;
  text-align: right;
  cursor: pointer;
}

input::placeholder {
  color: #fff;
}

.row {
  display: flex;
  justify-content: center;
}

button {
  width: 70px;
  height: 70px;
  margin: 10px;
  background: transparent;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  border: none;
  border-radius: 17%;
  box-shadow: -10px -10px 15px #000;
  outline: 1px solid #131313;
  cursor: pointer;
}

button#eqBtn {
  background-color: red;
}

button.opr {
  color: yellow;
}