body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #1c1e26, #2e2f38);
  font-family: 'Segoe UI', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculator-title {
  text-align: center;
  color: white;
  font-size: 28px;
  margin-bottom: 20px;
}


.display input {
  width: 360px;
  border: none;
  outline: none;
  padding: 20px;
  margin: 10px;
  background: transparent;
  color: #fff;
  font-size: 40px;
  text-align: right;
  cursor: pointer;
}

input::placeholder {
  color: #fff;
}

.row {
  display: flex;
  justify-content: center;
}

button {
  width: 70px;
  height: 70px;
  margin: 10px;
  background: transparent;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  border: none;
  border-radius: 17%;
  box-shadow: -10px -10px 15px #000;
  outline: 1px solid #131313;
  cursor: pointer;
}

button#eqBtn {
  background-color: red;
}

button.opr {
  color: yellow;
}